body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
}
header {
  /* background-color: slategray; */
  background-color: slategray;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
.logo {
  float: left;
  width: 60px;
  height: 60px;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  margin-top: 10px;
}
nav a {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: slategray;
  border-top: 5px slategray solid;
  padding-top: 20px;
}
